{% extends "master.html" %}
{%block header %}{%endblock%}
{%block content %}
<html>
    <body>
    Sensor status page!
    <!--
    <p>If you'd like to control lights, go <a href="/command_light/">here</a></p>
    <p>If you'd like to control the arm level, go <a href="/command_level/">here</a></p>-->
    <p>If you'd like to control your system, go <a href="/command_both/">here</a></p>
        <ul>
        
        {% for sensor in sensor_list.all %}
            <li>{{sensor.name}}:{{sensor.value}}</li>
        {% endfor %}
       </ul>
    </body>
</html>

{% endblock %}